.row1{
	margin-bottom: 2em;
	padding-bottom: 2em;
}
.row2{
	margin-top: 2em;
	padding-top: 3em;
}
.hoverCrypto:hover{
	content: url(../images/bitcoin_change.jpg);
}
.hoverWeather:hover{
	content: url(../images/weather_3.jpg);
}

.hoverFootball:hover{
	content: url(../images/football2.png);
}